{sys, [
       {lib_dirs, ["../deps/"]},
       {rel, "crdtdb", "1",
        [
         kernel,
         stdlib,
         sasl,
         riak_dt,
         crdtdb
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "crdtdb"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, crdtdb, [{incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "crdtdb"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/crdtdb", "bin/crdtdb"},
           {template, "files/crdtdb-admin", "bin/crdtdb-admin"}
           ]}.
